# Arquivos específicos para ignorar
.env

# Ignorar todo o conteúdo das pastas
app/*
config/*
data/*
data/db/*
data/cache/*
data/storage/*

# Não ignorar os arquivos .gitkeep
!app/.gitkeep
!config/.gitkeep
!data/.gitkeep
!data/db/.gitkeep
!data/cache/.gitkeep
!data/storage/.gitkeep